{% extends 'layout.html.twig' %}


{% block title %}

    IceWorld | Parfums

{% endblock %}

{% block content %}

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading text-uppercase">NOS PARFUMS</h1>
                    <h3 class="section-subheading text-muted">La meilleure façon de resister à la tentation c'est d'y
                        céder </h3>
                </div>
            </div>

            <div class="row">
                {% for glace in glaces %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal-{{ glace.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-plus fa-2x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset ('img/portfolio/' ~ glace.image ) }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ glace.reference }}</h4>
                            <p class="text-muted">Mangez-moi</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal -->

    {% for glace in glaces %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ glace.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">

                                <!-- Modals Details -->
                                <h2 class="text-uppercase">{{ glace.reference }}</h2>
                                <p class="item-intro text-muted">Une vague de froid</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset ('img/portfolio/' ~ glace.image) }}"
                                     alt="">
                                <ul class="list-inline">
                                    <li>
                                        <p class="lead"><strong> Ingrédients : </strong> {{ glace.description }}</li>
                                    <li>
                                        <p class="lead"><strong> Prix : </strong> {{ glace.prix }}€ </p>
                                    </li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>{% endfor %}

{% endblock %}




